.cart {
    background-color: rgba(181, 223, 190, 0.644);
    color: crimson;
    font-family: cursive;
    width: 350px;
    height: 550px;
    position: sticky;
    top: 0;
    border-radius: 90px 5px;
}

.cart-text {
    padding: 70px;
}